body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background: url('蟯｡蟠取丼逾ｭ繧垣繧ｿ繧､繝医Ν.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('cherry_blossoms.jpg') no-repeat center center/cover;
    color: #333;
    height: 400px;
    text-align: center;
    padding: 100px 20px;
}
.hero img {
    max-width: 200%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
    padding-bottom: 50px;
}

